<div id="footer">
    <div id="copyright">
        Antoine Blondeau - Arthur Sicard - 2018
    </div>
    <div id="version">
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>