<html>
  <head>
    <title>Trajets</title>
  </head>
  <body>
    <table>
      {% for item in trajets %}
        <tr><td>Date: {{ item.date }} |</td><td>Distance: {{ item.nbKm }} km</td></tr>
      {% endfor %}
    </table>
  </body>
</html>
